@import 'utility.css';
@import 'bganim.css';
body{
	font-family: sans-serif;
}
header{
	background: black;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-style: sans-serif;
	-webkit-font-smoothing : antialiased;
}
.container1{
	max-width: 1152px;
	padding: 0 15px;
	margin: 0 auto;
}
header nav .left a{
	color: white;
	text-decoration: none;
	margin-right: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	transition:all .3s ease;
}
header nav .left a:hover{
	color: #254469;
	box-shadow: 0 0.5em 0.5em -0.4em #254469;


}
header nav{
	padding: 2rem 0;
}
header nav .logo{
	margin-right: 3rem;

}

h1,h3{
	text-align: center;
}
h1{
	font-size: 80px;
	margin: 30px 0 0 0;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
h3{
	font-size: 40px;
	margin:10px;
	color: cyan;
	text-shadow: 2px 2px 4px cyan;

}
.leftContent{
	color: #b9bdba;
	text-align: center;
	margin: 20px;
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
	font-weight: 50%;
	letter-spacing: 1px;
}

p{
	margin-right: 200px;
	margin-left: 200px;
}

	

